/static_app_files/organ_tree.html
/server/user_files/*
/server/settings-prod.coffee
/server/log.txt
/**/node_modules/*

#coffeescript response
/server/**/*.js
/server/**/*.map

/_cache/*
/build/*
*.blend1
*.blend2
*.pyc
/assets/*
*~
.directory
*.kate-swp
*.orig
*.rej

#log files
npm-debug.log
server/db.sqlite
66a/
blender/
tmp/
user_files/
styles.tmp
obj/
build-tmp/
local/
TourSounds/
builds/
zbrush/

server/settings-dev.coffee
krita/
client/tests/**/image_reference/
client/tests/**/image_results/
pearson_dist/data*/
pearson_dist/nginx-*/
pearson_dist/logs/
pearson_dist/vidabody-*.tar.gz
pearson_dist/dragonfly-*.map
nginx-local/
old_builds/
obj
assets
