.color-picker
    background panel-color
    box-shadow 10px 10px 40px rgba(0,0,0,0.3)
    border-radius r * 2
    border-top-right-radius 0
    padding 10px
    position absolute
    left 50%
    top 50%
    width 320px
    margin-left -160px

    .color
        cursor pointer
        float left
        margin 5px
        width 40px
        height 40px

    .xbtn
        width 20px
        height 20px
        position absolute
        right -10px
        top -10px
        cursor pointer

.bg-color-input
    // styles from #lcs input
    margin 0
    float left
    padding 0 4px
    height 20px
    // styles from webkit input[type="color"] shadow dom
    display flex
    box-sizing border-box

    width 44px
    padding 4px 6px

    div
        min-width 0px
        border 1px solid rgb(119,119,119)
        display block
        flex 1 1 0%
        pointer-events none
